<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
<mat-toolbar class="toolbar">
  <mat-toolbar-row>

    <a class="menu-list">Renting and Dressing System</a>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/makeup">Make up and Hair style</button>
  <button mat-button routerLink="/renting">Renting</button>
  <button mat-button routerLink="/selling">Selling</button>
  <button mat-button routerLink="/home">LOG OUT</button>

  </mat-toolbar-row>
</mat-toolbar>
