<app-menucustomer></app-menucustomer>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<div class="panel">
  <div class="panel1">
    <mat-tab-group>
      <mat-tab label="PRODUCT">
        <p>PRODUCT</p>

    <br>
    <table mat-table [dataSource]="Products" class="mat-elevation-z8">

      <ng-container matColumnDef="productID">
        <th mat-header-cell *matHeaderCellDef> ProductID </th>
        <td mat-cell *matCellDef="let element"> {{element.productIds}} </td>
      </ng-container>

      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef> ProductName </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <ng-container matColumnDef="productPrice">
        <th mat-header-cell *matHeaderCellDef> ProductPrice </th>
        <td mat-cell *matCellDef="let element"> {{element.productPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="statusProduct">
        <th mat-header-cell *matHeaderCellDef> StatusProduct </th>
        <td mat-cell *matCellDef="let element"> {{element.status.statusProduct}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"(click)="selectRow(row)"></tr>
    </table>
    </mat-tab>

    <mat-tab label="STAFF">
      <p>STAFF</p>
    <br>
    <table mat-table [dataSource]="Staffs" class="mat-elevation-z8">

      <ng-container matColumnDef="staffIDs">
        <th mat-header-cell *matHeaderCellDef> StaffID </th>
        <td mat-cell *matCellDef="let element"> {{element.staffIds}} </td>
      </ng-container>

      <ng-container matColumnDef="staffName">
        <th mat-header-cell *matHeaderCellDef> StaffName </th>
        <td mat-cell *matCellDef="let element"> {{element.staffName}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.position.positionName}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
    </mat-tab>
    </mat-tab-group>
  </div>


  <div class="panel2">
    <p>BASKET กรุณากรอกข้อมูลให้ถูกต้อง </p>
    <br>
    <p>
      ข้อมูลสินค้าที่ต้องการซื้อ
    <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="views.productID"  [(value)]="views.selectProductID" name="productID" [value] = "views.productID">
      <mat-placeholder class="placeholder">productID</mat-placeholder>
    </mat-form-field><br/>
    </form>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="views.productName"  [(value)]="views.selectProductName" name="productName" [value] = "views.productName">
        <mat-placeholder class="placeholder">productName</mat-placeholder>
      </mat-form-field><br/>
    </form>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="views.productPrice"  [(value)]="views.selectProductPrice" name="productPrice" [value] = "views.productPrice">
        <mat-placeholder class="placeholder">productPrice</mat-placeholder>
      </mat-form-field><br/>
    </form>


    <p>เลือกรหัสของลุกค้า</p>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="customerID" [(ngModel)]="customerID" name="customerID" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let Customer of Customers" [value]="Customer.customerIDs">
            {{Customer.customerIDs}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>


    <p>เลือกรหัสของพนักงาน</p>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="staffIDs" [(ngModel)]="staffIDs" name="staffIDs" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let Staff of Staffs" [value]="Staff.staffIds">
            {{Staff.staffIds}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <p>เลือกวันที่จะมารับสินค้า
      <mat-form-field color="accent">
        <mat-label>Selling Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="sellingDate" [ngModelOptions]="{standalone: true}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>


    <br>
    <div align="center">
      <div class="button-row">
        <button mat-flat-button color="primary" (click) = save()>OK</button>
      </div>
    </div>
  </div>
</div>
