<div id ="style1" style="text-align: right">
  <div *ngFor="let staff of staffs">
    Name :{{staff.staffName}}
  </div></div>
<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <a class="menu-list">{{title}}</a>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/stock">Stock</button>
    <button mat-button routerLink="/register">Register</button>
    <button mat-button routerLink="/payment">Payment</button>
    <button mat-button routerLink="/home">LOG OUT</button>
  </mat-toolbar-row>
</mat-toolbar>
