<mat-toolbar class="toolbar">
  <mat-toolbar-row>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a class="menu-list">Renting and Dressing System</a>
    <span class="example-spacer"></span>
    <div class="button-row">
      <button mat-flat-button color="primary" routerLink="/makeup">MAKE UP AND HAIR STYLE</button>
      <button mat-flat-button color="primary" routerLink="/renting">RENTING</button>
      <button mat-flat-button color="primary" routerLink="/selling">SELLING</button>
      <button mat-flat-button color="primary" routerLink="/home">LOG OUT</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="panel">
  <div class="panel1">
    <div class="button-row">
      <mat-tab-group>
